<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>谷歌地图Demo</title>
    <link rel="stylesheet" href="../../static/css/base.css"/>
    <link rel="stylesheet" href="index.css"/>
    <script src="../../static/js/org/jquery-2.1.3.min.js"></script>
    <script src="../../static/js/module/prototypeExtension/proto.js"></script>
    <!--<script>
        var aa = [1, 205, 45, 205, 3, 78, 89];
        aa.getMax();

        alert(new Person('Echo', "女", 34).getDetail());
    </script>-->
</head>
<body>



    <div class="w_100 h_100 mbc bd1">
        <div class="main h_100 mbc mt49">
            <div class="mapCanvas fl h_100" id="mapCanvas">

            </div>
            <div class="sideBar fr h_100">
                <div class="">

                </div>
            </div>
        </div>
    </div>
    <script src="http://ditu.google.cn/maps/api/js?sensor=false&libraries=drawing"></script>
    <script src="../../static/js/module/map/mapWSJ.js"></script>
    <script src="../../static/js/module/map/mapOption.js"></script>
    <script src="../../static/js/module/map/mapController.js"></script>


</body>
</html>