<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/base.css"/>
    <link rel="stylesheet" href="../../static/css/page_head.css"/>
    <link rel="stylesheet" href="../../static/css/common_index.css"/>
    <title>帐号列表</title>
</head>
<body>
<div class="header pf tp0 w_100 tc">
    <h3 class="fcWhite ffMy fn f26">我的帐号列表，选择一个做你自己</h3>
</div>
<div class="main w_100">
    <div class="slide fr">
    </div>

    <div class="sideBar pr fl h_100">
        <div class="budianDlg mbc fcWhite ffMy pr">
            <span class="contact tl f18 fb">联系我</span>
            <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">Github</a>
            <a href="mailto:echochocolatekapa@163.com" class="fcWhite tc no_unl">邮箱</a>
            <a href="javascript:void(0)" class="fcWhite tc no_unl" id="phone">电话</a>
        </div>


        <div class="budianDlg mbc fcWhite ffMy pr mt60">
            <span class="contact tl f18 fb">技术点</span>
            <a href="https://github.com/IChocolateKapa" class="fcWhite tc no_unl">Requirejs 模块化</a>
            <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">鼠标位置检测</a>
            <a href="https://github.com/IChocolateKapa" class="fcWhite tc no_unl">定时器</a>
        </div>
    </div>
</div>
</body>
</html>