<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/base.css"/>
    <link rel="stylesheet" href="../../static/css/lib/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../static/css/page_head.css"/>
    <link rel="stylesheet" href="../../static/css/common_index.css"/>
    <link rel="stylesheet" href="../../static/css/chat/waterfall.css"/>
    <script src="../../static/js/org/require.js" data-main="../../static/js/module/chat/waterFall"></script>
    <!--<script src="http://apps.bdimg.com/libs/angular.js/1.1.0/angular.min.js"></script>-->
    <!--<script src="../../static/js/module/chat/angularImg.js"></script>-->
    <title>帐号列表</title>
    <style>
        .header{
            height: 13%;
        }
        .header h3{
            white-space: pre-line;
            /*left: 50%;*/
            margin-left: 200px;
        }
        .main{
            margin-top: 5%;
        }
    </style>
    @media
</head>
<body>
<div class="header pf tp0 w_100 tc">
    <h3 class="fl fcWhite ffMy fn f26">我的帐号列表，选择2个账户自娱自乐</h3>
</div>
<div class="main w_100 pa clearFix">

    <div class="sideBar pr fl h_100 ">
    </div>

<!--    <div class="main-r fl">
        <div class="main-r-container pr mbc mt70" ng-controller="imgList">
            <div class="section fl" ng-repeat="img in imgs">
                <div class="section-before"><i class="fa fa-user"></i></div>
                <div class="pic">
                    <img src="../../static/images/{{img}}.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>-->

    <div class="main-r fl">
        <div class="main-r-container pr mbc mt70"></div>
    </div>

</div>

<div class="fixedBar pf">
    <span class="loading pa tc fcWhite ffMy f16">加载中...</span>
</div>

<a href="" class="goTop pa no_unl" title="返回顶部"><i class="fa fa-angle-double-up fa-2x"></i></a>

<div class="fixedSideBar closed">
    <i class="fa fa-chevron-circle-down fa-2x"></i>
    <span id="tip" ></span>
    <div class="switchBar pa bgdWhite tc">
        <i class="fa fa-chevron-circle-up fa-2x"></i>
        <span class="tip pa inlineBlock ffMy f10">0</span>
    </div>
</div>
</body>
</html>