<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>跟我聊天吧</title>
    <link rel="stylesheet" href="../../static/css/base.css"/>
    <link rel="stylesheet" href="../../static/css/chat/chat.css"/>
    <script src="../../static/js/org/require.js" data-main="../../static/js/module/chat/chat"></script>
</head>
<body>
    <div class="container pf w_100 h_100">
        <div class="main w960">
            <div class="main-content w_100 h_100 clearFix">
                <div class="main-content-piece toLeft">

                </div>
                <div class="main-content-piece toRight">

                </div>
            </div>
        </div>
    </div>
</body>
</html>