<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/lib/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../static/css/base.css"/>
    <link rel="stylesheet" href="../../static/css/chat/login.css"/>

    <title>登录</title>
</head>
<body>
    <div class="mbc">
        <div class="imgdiv">
            <img src="../../static/images/11.jpg"style=" width:120px;height:120px;  border-radius:50%;" />
        </div>


        <div class="btdiv pr">

            <h7 id="span_tip" >&nbsp;</h7>

            <input type="text" placeholder="用户名" name="usrname" id="usrname" onkeydown="EnterPress(event)" >
            <br>

            <input type="password" placeholder="密码"  name="passwd" id="passwd" onkeydown="EnterPress(event)" >
            <br>

            <input type="button" value="登&nbsp;录" onclick="window.open('chat.html')">

            <div class="next pa">

                <a href="accounts.html" target="_blank" class="no_unl">
                    <span class="ffMy fcWhite f14">点击这里试用&nbsp;</span>
                    <i class="fa fa-hand-o-right fa-2x"></i>
                </a>

            </div>

        </div>
    </div>


</body>
</html>