<div class="budianDlg mbc fcWhite ffMy pr mt60">
    <span class="contact tl f18 fb">联系我</span>
    <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">Github</a>
    <a href="mailto:echochocolatekapa@163.com" class="fcWhite tc no_unl">邮箱</a>
    <a href="javascript:void(0)" class="fcWhite tc no_unl" id="phone">电话</a>
</div>


<div class="budianDlg mbc fcWhite ffMy inline mt60">
    <span class="contact tl f18 fb">技术点</span>
    <a href="https://github.com/IChocolateKapa" class="fcWhite tc no_unl">Requirejs 模块化</a>
    <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">Angular.js</a>
    <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">瀑布流</a>
    <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">自定义动画</a>
    <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">Ajax</a>
    <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">模拟Ajax预加载</a>
</div>