/**
 * Created by Administrator on 2015/8/5.
 */
@charset "utf-8";

.section{
    /*padding: 15px 0 0 15px;*/
    padding: 15px;
    z-index: 10;
    background: white;
    border-radius: 5px;
}

.pic{
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed #ccc;
    box-shadow: 0 0 5px #999;
    cursor: pointer;
    background: white;
}
.section:hover{
    /*content: "";*/
    /*width: 262px;*/
    /*height: auto;*/
    margin-top: 10px;
    box-shadow: 0 0 100px 1000px rgba(0, 0, 0, .3);
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    z-index: 99;
    /*position: absolute;*/
}

.pic img{
    width: 240px;
    height: auto;
}
