<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片轮播demo1</title>
    <link rel="stylesheet" href="../../static/css/base.css"/>
    <link rel="stylesheet" href="../../static/css/page_head.css"/>
    <link rel="stylesheet" href="../../static/css/common_index.css"/>
    <link rel="stylesheet" href="../../static/css/demo/1.css"/>
    <script src="../../static/js/org/require.js" data-main="../../static/js/module/demo/1"></script>

</head>
<body>

    <div class="header pf tp0 w_100 tc">
        <h3 class="fcWhite ffMy fn f26">图片轮播demo1</h3>
    </div>
    <div class="main w_100">
        <div class="slide fr">
            <div class="slideContent mbc pr">
                <div class="slider-page pa">
                    <a href="javascript:void(0)" class="slider-prev pa block fcWhite fn no_unl tc f23">&lt;</a>
                    <a href="javascript:void(0)" class="slider-next pa block fcWhite fn no_unl tc f23">&gt;</a>
                </div>
                <ul class="List">
                    <li class="ListItem pa tc curr">
                        <a href="https://github.com/IChocolateKapa" class="">
                            <img src="../../static/images/1.jpg" alt="" class="vm"/>
                        </a>
                    </li>
                    <li class="ListItem pa tc">
                        <a href="https://github.com/IChocolateKapa" class="">
                            <img src="../../static/images/2.jpg" alt="" class="vm"/>
                        </a>
                    </li>
                    <li class="ListItem pa tc">
                        <a href="https://github.com/IChocolateKapa" class="">
                            <img src="../../static/images/3.jpg" alt="" class="vm"/>
                        </a>
                    </li>
                    <li class="ListItem pa tc">
                        <a href="https://github.com/IChocolateKapa" class="">
                            <img src="../../static/images/4.jpg" alt="" class="vm"/>
                        </a>
                    </li>
                    <li class="ListItem pa tc">
                        <a href="https://github.com/IChocolateKapa" class="">
                            <img src="../../static/images/5.jpg" alt="" class="vm"/>
                        </a>
                    </li>
                    <li class="ListItem pa tc">
                        <a href="https://github.com/IChocolateKapa" class="">
                            <img src="../../static/images/6.jpg" alt="" class="vm"/>
                        </a>
                    </li>
                </ul>

                <ul class="slideTrigger pa">
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl curr">1</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">2</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">3</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">4</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">5</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">6</a></li>
                </ul>
            </div>
        </div>

        <div class="sideBar pr fl h_100">
            <div class="budianDlg mbc fcWhite ffMy pr">
                <span class="contact tl f18 fb">联系我</span>
                <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">Github</a>
                <a href="mailto:echochocolatekapa@163.com" class="fcWhite tc no_unl">邮箱</a>
                <a href="javascript:void(0)" class="fcWhite tc no_unl" id="phone">电话</a>
            </div>


            <div class="budianDlg mbc fcWhite ffMy pr mt60">
                <span class="contact tl f18 fb">技术点</span>
                <a href="https://github.com/IChocolateKapa" class="fcWhite tc no_unl">Requirejs 模块化</a>
                <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">鼠标位置检测</a>
                <a href="https://github.com/IChocolateKapa" class="fcWhite tc no_unl">地图操作对象封装</a>
                <a href="https://github.com/IChocolateKapa" class="fcWhite tc no_unl">平均布点算法</a>
            </div>
        </div>
    </div>
</body>
</html>