<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品图片预览</title>
    <link rel="stylesheet" href="../../static/css/base.css"/>
    <link rel="stylesheet" href="../../static/css/page_head.css"/>
    <link rel="stylesheet" href="../../static/css/common_index.css"/>
    <link rel="stylesheet" href="../../static/css/demo/3.css"/>
    <script src="../../static/js/org/require.js" data-main="../../static/js/module/demo/4"></script>

    <style>
        .zoomDiv{
            height: 500px;
            width: 500px;
            background: white;
            z-index: 99;
            left: -500px;
            overflow: hidden;
        }
        .zoomDiv img{
            width: auto;
            height: auto;
        }
        .selDiv{
            width: 300px;
            height: 300px;
            background: rgba(234, 255, 0, .3);
            z-index: 100;
            cursor: move;
        }
    </style>
</head>
<body>

    <div class="header pf tp0 w_100 tc">
        <h3 class="fcWhite ffMy fn f26">商品图片预览</h3>
    </div>
    <div class="main w_100">
        <div class="slide fr">
            <div class="slideContent mbc pr">
                <div class="slider-page pa">
                    <a href="javascript:void(0)" class="slider-prev pa block fcWhite fn no_unl tc f23">&lt;</a>
                    <a href="javascript:void(0)" class="slider-next pa block fcWhite fn no_unl tc f23">&gt;</a>
                </div>

                <!--预览图片的div-->
                <div class="zoomDiv pa">
                    <img src="../../static/images/7.jpg" alt="" class="vm"/>
                </div>

                <div class="ListContainer">
                    <ul class="List">
                        <li class="ListItem tc curr">
                            <div class="selDiv pa" draggable="true"></div>
                            <a href="https://github.com/IChocolateKapa" class="itm0">
                                <img src="../../static/images/7.jpg" alt="" class="vm"/>
                            </a>
                        </li>
                        <li class="ListItem tc">
                            <a href="https://github.com/IChocolateKapa" class="itm1">
                                <img src="../../static/images/8.jpg" alt="" class="vm"/>
                            </a>
                        </li>
                        <li class="ListItem tc">
                            <a href="https://github.com/IChocolateKapa" class="itm2">
                                <img src="../../static/images/9.jpg" alt="" class="vm"/>
                            </a>
                        </li>
                        <li class="ListItem tc">
                            <a href="https://github.com/IChocolateKapa" class="itm3">
                                <img src="../../static/images/10.jpg" alt="" class="vm"/>
                            </a>
                        </li>
                        <li class="ListItem tc">
                            <a href="https://github.com/IChocolateKapa" class="itm4">
                                <img src="../../static/images/11.jpg" alt="" class="vm"/>
                            </a>
                        </li>
                        <li class="ListItem tc">
                            <a href="https://github.com/IChocolateKapa" class="itm5">
                                <img src="../../static/images/12.jpg" alt="" class="vm"/>
                            </a>
                        </li>
                    </ul>
                </div>


                <ul class="slideTrigger pa">
                    <li class="curr"><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">1</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">2</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">3</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">4</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">5</a></li>
                    <li><a href="javascript:void(0)" class="inlineBlock ffMy fc333 f13 no_unl">6</a></li>
                </ul>
            </div>
        </div>

        <div class="sideBar pr fl h_100">
            <div class="budianDlg mbc fcWhite ffMy pr">
                <span class="contact tl f18 fb">联系我</span>
                <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">Github</a>
                <a href="mailto:echochocolatekapa@163.com" class="fcWhite tc no_unl">邮箱</a>
                <a href="javascript:void(0)" class="fcWhite tc no_unl" id="phone">电话</a>
            </div>


            <div class="budianDlg mbc fcWhite ffMy pr mt60">
                <span class="contact tl f18 fb">技术点</span>
                <a href="https://github.com/IChocolateKapa" class="fcWhite tc no_unl">Requirejs 模块化</a>
                <a href="https://github.com/IChocolateKapa" target="_blank" class="fcWhite tc no_unl">鼠标位置检测</a>
                <a href="https://github.com/IChocolateKapa" class="fcWhite tc no_unl">图片轮转</a>
            </div>
        </div>
    </div>
</body>
</html>